@CHARSET "ISO-8859-1";

#LinkArchiveModule ul.of-todo-list > li .of-checkbox-label:before {
	background: none;
}

#LinkArchiveModule ul.of-todo-list > li .of-checkbox-label {
	padding-left: 0;
}

#LinkArchiveModule ul.of-todo-list > li > .of-meta-line {
	margin-left: 0;
}