/* Variables, libraries and mixins
-------------------------------------------------- */
/* Sizes
-------------------------------------------------- */
/* Colors
-------------------------------------------------- */
/* Font Settings
-------------------------------------------------- */
/* Sizes
-------------------------------------------------- */
/* Colors
-------------------------------------------------- */
/* Font Settings
-------------------------------------------------- */
/* Samarbetsrum
-------------------------------------------------- */
.of-header {
  width: 100%;
  z-index: 980;
  background-image: url("../images/header_background.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.no-touch .of-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 2em;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 1.3dppx) {
  .of-header {
    background-image: url("../images/header_background@2x.png");
    background-size: 50% auto;
  }
}
.of-header a:hover,
.of-header a:focus {
  color: #fff;
  fill: #fff;
  text-decoration: none;
}
.of-header a:hover.of-icon-only,
.of-header a:focus.of-icon-only {
  color: inherit;
  fill: inherit;
}
.of-header a:hover.of-btn-outline,
.of-header a:focus.of-btn-outline {
  color: inherit;
  fill: inherit;
}
.of-header .of-select,
.of-header .of-select-multiple {
  width: 100%;
  margin-top: .5em;
  position: relative;
}
.of-header .of-select header,
.of-header .of-select-multiple header {
  border: 1px solid #5c6a70;
  color: #fff;
  fill: #fff;
  background: #5c6a70;
}
.of-header .of-select header:hover, .of-header .of-select header:focus,
.of-header .of-select-multiple header:hover,
.of-header .of-select-multiple header:focus {
  outline: none;
}
.of-header .of-select:hover, .of-header .of-select:focus,
.of-header .of-select-multiple:hover,
.of-header .of-select-multiple:focus {
  outline: none;
}
.of-header .of-select.active header,
.of-header .of-select-multiple.active header {
  background: #e2e6e8;
  border-color: #e2e6e8;
  color: #485258;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-color: #b6c0c6;
  fill: #485258;
}

.screen {
  position: fixed;
  bottom: 1em;
  left: 0;
  right: 0;
  width: 15em;
  margin: auto;
  z-index: 9999;
}
.screen:before {
  -webkit-transition-property: background;
  -moz-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: "ease-in";
  -moz-transition-timing-function: "ease-in";
  transition-timing-function: "ease-in";
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  transition-delay: 0;
  display: block;
  padding: .5em;
  color: #fff;
}
@media (min-width: 20.0625em) {
  .screen:before {
    background: rgba(125, 0, 0, 0.8);
    content: "of-screen-xs-min";
  }
}
@media (min-width: 36em) {
  .screen:before {
    background: rgba(125, 125, 0, 0.8);
    content: "of-screen-sm-min";
  }
}
@media (min-width: 45em) {
  .screen:before {
    background: rgba(125, 0, 125, 0.8);
    content: "of-screen-md-min";
  }
}
@media (min-width: 52em) {
  .screen:before {
    background: rgba(0, 125, 125, 0.8);
    content: "of-screen-lg-min";
  }
}
@media (min-width: 70em) {
  .screen:before {
    background: rgba(0, 125, 0, 0.8);
    content: "of-screen-xl-min";
  }
}
@media (min-width: 80em) {
  .screen:before {
    background: rgba(0, 0, 125, 0.8);
    content: "of-screen-xxl-min";
  }
}
@media (min-width: 86em) {
  .screen:before {
    background: rgba(125, 0, 255, 0.8);
    content: "of-screen-xxxl-min";
  }
}

.of-header {
  padding-bottom: 0;
}
.of-header .of-wrap {
  display: table;
  width: 100%;
  padding: 0;
}
@media (min-width: 36em) {
  .of-header .of-wrap {
    padding: 0 1em;
  }
}
@media (min-width: 45em) {
  .of-header .of-wrap {
    display: block;
  }
}
.of-header .samarbetsrum-header-section {
  display: table-cell;
  vertical-align: middle;
  width: 19%;
  padding: .75em 0;
  max-width: 8.56em;
}
.of-header .samarbetsrum-header-section.samarbetsrum-profile {
  width: 22%;
}
@media (min-width: 45em) {
  .of-header .samarbetsrum-header-section {
    display: inline-block;
    margin-right: -4px;
    width: auto;
    margin-left: 3.90625%;
    max-width: 100%;
    vertical-align: top;
  }
  .of-header .samarbetsrum-header-section:first-child {
    margin-left: 0;
  }
}
@media (min-width: 70em) {
  .of-header .samarbetsrum-header-section {
    margin-left: 0;
    padding-right: 1.875rem;
  }
}
@media (min-width: 45em) {
  .of-header .samarbetsrum-header-section.samarbetsrum-logo {
    width: 25%;
  }
}
@media (min-width: 45em) {
  .of-header .samarbetsrum-header-section.samarbetsrum-logo > a {
    display: block;
    position: relative;
    width: 100%;
    height: 2.75em;
    overflow: hidden;
    color: #fff;
    fill: #fff;
  }
  .of-header .samarbetsrum-header-section.samarbetsrum-logo > a i {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }
  .of-header .samarbetsrum-header-section.samarbetsrum-logo > a i svg {
    position: absolute;
    top: .875em;
    left: 0;
    margin: auto;
  }
}
@media (min-width: 45em) {
  .of-header .samarbetsrum-header-section.samarbetsrum-logo > a i svg {
    top: .5625em;
  }
}
@media (min-width: 45em) {
  .of-header .samarbetsrum-header-section.samarbetsrum-logo {
    width: 25.26042%;
    width: -webkit-calc(12.125em);
    width: -moz-calc(12.125em);
    width: calc(12.125em);
  }
}
@media (min-width: 70em) {
  .of-header .samarbetsrum-header-section.samarbetsrum-logo {
    width: 16.66667%;
  }
}
.of-header .samarbetsrum-header-section.samarbetsrum-room {
  position: relative;
  overflow: hidden;
}
.of-header .samarbetsrum-header-section.samarbetsrum-room select {
  opacity: 0;
  -moz-appearance: none;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 0;
  cursor: pointer;
  z-index: 2;
}
.of-header .samarbetsrum-header-section.samarbetsrum-room select:hover + a,
.of-header .samarbetsrum-header-section.samarbetsrum-room select:focus + a {
  color: #fff;
  fill: #fff;
}
@media (min-width: 45em) {
  .of-header .samarbetsrum-header-section.samarbetsrum-room {
    width: 30.598958333%;
    overflow: visible;
  }
  .of-header .samarbetsrum-header-section.samarbetsrum-room .of-select {
    margin-top: 0;
  }
}
@media (min-width: 70em) {
  .of-header .samarbetsrum-header-section.samarbetsrum-room {
    width: 25%;
  }
}
.of-header .samarbetsrum-header-section.samarbetsrum-search .of-text-center {
  display: none;
}
@media (max-width: 51.9375em) {
  .of-header .samarbetsrum-header-section.samarbetsrum-search .of-search.focus .of-text-center {
    display: block;
  }
}
@media (min-width: 45em) {
  .of-header .samarbetsrum-header-section.samarbetsrum-search {
    width: 16.01563%;
    width: -webkit-calc(41.27604% - 12.75em);
    width: -moz-calc(41.27604% - 12.75em);
    width: calc(41.27604% - 12.75em);
  }
  .of-header .samarbetsrum-header-section.samarbetsrum-search .of-searchfield {
    margin-top: 0;
    border: 0;
  }
}
@media (min-width: 70em) {
  .of-header .samarbetsrum-header-section.samarbetsrum-search {
    width: 33.33333%;
  }
}
@media (min-width: 36em) {
  .of-header .samarbetsrum-header-section.samarbetsrum-notifications {
    position: relative;
  }
}
@media (min-width: 45em) {
  .of-header .samarbetsrum-header-section.samarbetsrum-notifications {
    width: 2.8%;
    padding-top: 1.5em;
    margin-left: 4%;
  }
}
@media (min-width: 70em) {
  .of-header .samarbetsrum-header-section.samarbetsrum-notifications {
    margin-left: 2%;
  }
}
@media (min-width: 80em) {
  .of-header .samarbetsrum-header-section.samarbetsrum-notifications {
    margin-left: 3.5%;
  }
}
.of-header .samarbetsrum-header-section.samarbetsrum-notifications > a {
  position: relative;
}
@media (min-width: 70em) {
  .of-header .samarbetsrum-header-section.samarbetsrum-notifications > a {
    width: 1.5em;
  }
}
.of-header .samarbetsrum-header-section.samarbetsrum-notifications > a.active:after {
  position: absolute;
  top: auto;
  width: 0;
  content: '';
  right: 0;
  bottom: -.65em;
  left: 0;
  margin: auto;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 9px solid #fff;
  z-index: 851;
  box-shadow: 0 1px #fff;
  opacity: 1;
}
@media (min-width: 45em) {
  .of-header .samarbetsrum-header-section.samarbetsrum-notifications > a.active:after {
    bottom: -1.125em;
  }
}
.of-header .samarbetsrum-header-section.samarbetsrum-notifications .of-notification-menu article {
  overflow: visible;
  max-height: 9999em;
}
.of-header .samarbetsrum-header-section.samarbetsrum-profile {
  text-align: center;
}
@media (min-width: 45em) {
  .of-header .samarbetsrum-header-section.samarbetsrum-profile {
    margin-right: 0;
    float: right;
    width: auto;
  }
}
.of-header .samarbetsrum-header-section.samarbetsrum-profile .of-profile-menu > a {
  padding-top: 0;
}
@media (min-width: 45em) {
  .of-header .samarbetsrum-header-section.samarbetsrum-profile .of-profile-menu > a {
    padding-top: .3em;
  }
}
@media (max-width: 44.9375em) {
  .of-header .samarbetsrum-header-section.samarbetsrum-profile .of-profile-menu > ul {
    top: 2.2em;
  }
}
@media (max-width: 44.9375em) {
  .of-header .samarbetsrum-header-section.samarbetsrum-profile .of-profile-menu.active:before {
    position: absolute;
    top: -.5em;
    left: 0;
    right: 0;
    bottom: 1em;
    background: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    content: '';
  }
}
@media (min-width: 70em) {
  .of-header .samarbetsrum-header-section.samarbetsrum-profile {
    padding-right: 0;
    float: right;
  }
}
@media (min-width: 45em) {
  .of-header .samarbetsrum-header-section .toggle-search {
    padding-top: .75em;
    padding-bottom: .5em;
  }
  .of-header .samarbetsrum-header-section .toggle-search i,
  .of-header .samarbetsrum-header-section .toggle-search span {
    display: inline-block;
    vertical-align: top;
    font-size: 1em;
    margin-top: 0;
    line-height: 1.5;
  }
  .of-header .samarbetsrum-header-section .toggle-search span {
    padding-left: .25em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  margin: 0;
}

h1:not(.of-h1) {
  font-size: 1.4em;
}
@media (min-width: 36em) {
  h1:not(.of-h1) {
    font-size: 1.425em;
  }
}
@media (min-width: 52em) {
  h1:not(.of-h1) {
    font-size: 1.625em;
  }
}
@media (min-width: 70em) {
  h1:not(.of-h1) {
    font-size: 1.425em;
  }
}
@media (min-width: 80em) {
  h1:not(.of-h1) {
    font-size: 1.625em;
  }
}

h2 {
  font-size: 1.25em;
}
h2.of-has-btn-group {
  line-height: 2.5625rem;
}

h3 {
  text-transform: uppercase;
  font-size: 1em;
  padding: 1em 1.25em;
  border-bottom: 1px rgba(182, 192, 198, 0.2) solid;
}
.of-inner-padded h3, .of-inner-padded-trl h3 {
  padding: 0 0 1em 0;
}
h3.no-padding {
  padding: 0;
}
h3.no-padding-rl {
  position: relative;
  padding-right: 0;
  padding-left: 0;
}
h3.no-padding-rl .of-absolute-right {
  right: 0;
}
h3.no-padding-rl .of-todo-tools {
  top: 1em;
}
h3.no-padding-rl:hover .of-todo-tools, h3.no-padding-rl:focus .of-todo-tools {
  display: block;
}
.touch h3.no-padding-rl {
  padding-bottom: 2em;
}
.touch h3.no-padding-rl .of-todo-tools {
  top: auto;
  bottom: 0;
  left: 0;
  padding-left: 0;
}
h3.no-border {
  border-bottom: none;
}

h5 {
  font-size: .875em;
}
h5 span {
  font-weight: normal;
}
h5 a {
  display: inline !important;
  padding-left: 0 !important;
}
h5 a:hover, h5 a:focus {
  text-decoration: underline !important;
}

.of-wrap-no-padding .of-sidebar-menu {
  padding: 1em;
}
@media (min-width: 36em) {
  .of-wrap-no-padding .of-sidebar-menu {
    padding: 0;
    padding-bottom: 1em;
  }
}
@media (max-width: 51.9375em) {
  .of-wrap-no-padding .of-sidebar-menu > ul > li a {
    background: #fff;
    padding: 1em;
  }
  .of-wrap-no-padding .of-sidebar-menu > ul > li a[data-of-badge]:after {
    right: 1em;
  }
  .of-wrap-no-padding .of-sidebar-menu > ul > li:last-child a {
    border-radius: 0 0 .25em .25em;
  }
}

@media (min-width: 45em) {
  .of-module + .of-sidebar-menu {
    padding-top: 0;
    margin-top: -1em;
  }
}

@media (min-width: 45em) {
  .of-module.of-no-margin + .of-sidebar-menu {
    padding-top: 0;
    margin-top: 1em;
  }
}

.room-heading {
  overflow: hidden;
  word-break: break-all;
  font-size: 1.4em;
}
@media (min-width: 36em) {
  .room-heading {
    font-size: 1.425em;
  }
}
@media (min-width: 52em) {
  .room-heading {
    font-size: 1.625em;
  }
}
@media (min-width: 70em) {
  .room-heading {
    font-size: 1.425em;
  }
}
@media (min-width: 80em) {
  .room-heading {
    font-size: 1.625em;
  }
}

.comments-wrap {
  padding: 1em 1em 0;
  background: #fff;
  border-bottom: 1px solid #cfcfcf;
}
@media (min-width: 36em) {
  .comments-wrap {
    padding: 0;
    background: transparent;
    border: none;
  }
}

fieldset {
  background: #f7f7f7;
  border: 0;
  margin: 1em 0 0 !important;
}

input.of-inline-input {
  border: 0;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0 0 .2em;
  border-bottom: 1px dotted #e7e7e7;
  border-radius: 0;
}
@media (min-width: 45em) {
  input.of-inline-input {
    font-size: 2em;
  }
}

gr
.new-post {
  background: white;
  box-shadow: 1px 1px 0 #cfcfcf;
  margin-bottom: 1em;
}
@media (min-width: 36em) {
  gr
  .new-post {
    background: transparent;
    box-shadow: none;
    margin-bottom: 0;
  }
}
gr
.new-post figure {
  float: left;
  overflow: hidden;
  margin-top: .5em;
}
gr
.new-post figure + .of-block-label {
  margin-left: 4em;
}
gr
.new-post .show-on-focus {
  display: none;
}

.room-filter-select {
  width: 7.5625rem;
  text-transform: none;
  margin-top: 0;
}

@media (max-width: 36em) {
  .of-feed-list-scroll.no-scroll-to-sm {
    max-height: none;
    overflow: visible;
  }
}
@media (min-width: 45em) {
  .of-feed-list-scroll.no-scroll-to-sm {
    height: 12.5em;
  }
}
@media (max-width: 44.9375em) {
  .of-feed-list-scroll.no-scroll-to-md {
    max-height: none;
    overflow: visible;
  }
}

.show-on-focus .of-attachment-list {
  margin: 1em 0 0;
}
